# Compiled output
front/ArcadiaFrontECF/tmp
front/ArcadiaFrontECF/out-tsc
front/ArcadiaFrontECF/dist
front/ArcadiaFrontECF/bazel-out

# Node
front/ArcadiaFrontECF/node_modules

# IDEs and editors
front/ArcadiaFrontECF/.idea/
front/ArcadiaFrontECF/.vs
front/ArcadiaFrontECF/.vscode/*

back/ECF_Zoo/API_Arcadia/.vs
back/ECF_Zoo/API_Arcadia/.idea

# Miscellaneous
front/ArcadiaFrontECF/.angular/cache
front/ArcadiaFrontECF/.firebase
front/ArcadiaFrontECF/.firebaserc
front/ArcadiaFrontECF/src/environnements

back/ECF_Zoo/API_Arcadia/appsettings.json
back/ECF_Zoo/logs
back/ECF_Zoo/mock-front
back/ECF_Zoo/API_Arcadia/bin
back/ECF_Zoo/API_Arcadia/obj

Manuel/IDENTIFIANTS_ARCADIA.docx
Manuel/IDENTIFIANTS_ARCADIA.pdf

Copie_à_rendre_TP–Développeur_Web_et_Web_Mobile.docx

# System files
.DS_Store
Thumbs.db