<main class="d-flex flex-column align-items-center justify-content-center mb-5">

  <h1 class="neucha-regular text-center m-5">Mentions Légales</h1>

  <div class="col-10">
    <p><strong>Editeur</strong><br>Le site https://www.arcadia-zoo-broceliande.fr/ est la propriété du Parc Zoologique
      Zoo Arcadia dont le siège social se situe à l'adresse suivante :<br>666 rue de l'Enchanteur Merlin<br>35380
      PAIMPONT -
      France<br>Tél : (33) 01 23 45 67 89<br>Email : direction&#64;arcadia-zoo-broceliande.fr<br>N° TVA : FR 12 345 678
      912<br>SIRET : 123
      456 789 123 45</p>


    <p>Directeur de la publication : José, Directeur du Parc Zoologique Arcadia.<br>Responsable de la rédaction :
      José, Directeur du Parc Zoologique Arcadia.<br>Référent Bien-être animal : José – direction&#64;arcadia-zoo-broceliande.fr
    </p>


    <p><strong>Hébergement</strong>
      <br>Google Firebase<br>8 Rue de Londres<br>75009 Paris France
      <br>Microsoft Azure<br>37 Quai du Président Roosevelt<br>92130 Issy-les-Moulineaux</p>


    <p><strong>Conception</strong><br>DevSoft<br>42 Rue du Varchar<br>17770 ECOYEUX</p>


    <p><strong>Objet du site</strong><br>Le site du Parc Zoologique Arcadia a pour objet de présenter le Parc Zoologique
      Arcadia et
      de fournir des informations sur les espèces animales qu'il présente ainsi que sur ses missions. Il comporte
      également un certain nombre d'informations pratiques à usage des visiteurs.</p>


    <p><strong>Droits d'auteurs</strong><br>L’ensemble de ce site (contenu et présentation) est un <strong>projet étudiant</strong>. Tous
      les contenu multimédias et textuels présentés sont libres de droit. Toute ressemblance avec un projet existant est purement
      fortuite et ne saurait être attribuée à une intention de plagiat.</p>


    <p><strong>Données personnelles</strong><br>L'utilisateur est informé, conformément à l'article 27 de la loi
      Informatique, fichiers et libertés du 6 janvier 1978, que les informations facultatives qu'il communique en
      répondant s'il le souhaite aux formulaires présents sur le site permettent de répondre à sa demande, et sont
      destinées au Par Zoologique Arcadia, responsable du traitement, à des fins de gestion administrative et non commerciale.
      L'utilisateur est informé qu'il dispose d'un droit d'accès et de rectification relativement à l'ensemble des
      données nominatives le concernant en écrivant au Parc Zoologique Arcadia.</p>


    <p><strong>Modifications des informations légales du site Parc Zoologique Arcadia</strong><br>Parc Zoologique Arcadia se
      réserve le droit de modifier à tout moment les présentes informations légales, notamment en cas de changement de
      la législation en vigueur pour les mettre en conformité avec celle-ci.</p>


    <p><strong>Coordonnées du Médiateur de la Consommation</strong><br>CM2C<br>14 rue Saint Jean<br>75017 Paris<br>www.cm2c.net
    </p>


    <p><strong>Opposition démarchage téléphonique</strong><br>Depuis la loi du 6 janvier 1978 relative à l’informatique,
      aux fichiers et aux libertés, chacun peut s’opposer à l’utilisation ou à la cession des données personnelles
      nominatives le concernant.<br>Le consommateur pourra s’inscrire gratuitement sur cette liste disponible sur le
      site www.bloctel.gouv.fr</p>
  </div>

</main>
